* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}
h1 {
  text-align: center;
}
.container {
  width: 690px;
  height: 690px;
  border: 1px solid black;
  display:flex;
  flex-wrap:wrap;
}

.grids{
  border:1px solid black;
}